@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  /* background-color: rgb(236, 9, 9);
  display: inline-block;
  height: 100%;
  padding-inline: 10px;
  color: #fff; */
  @apply bg-red-400 inline-block h-full px-[10px] text-white;
}

.link {
  @apply h-auto inline-block;
}
